@page "/Personnel/{Index?}"
@using ClientApplication.Pages.Debit
@using ClientApplication.Models

<div class="mid">
    <PersonnelRefresh Personnels="@Personnels" SetPersonnels="@SetPersonnels"/>
    <PersonnelGrid Personnels="@Personnels" SetPersonnels="@SetPersonnels"/>
</div>
@if(Index != "" && Index != null){
    <PersonnelDetail Index="@Index" Personnels="@Personnels" SetPersonnels="@SetPersonnels" />
}

@code{
    
    [Parameter]
    public string Index { get; set; } = "";
    
    public Personnels Personnels = new Personnels{};

    protected void SetPersonnels(Personnels personnels){
        Personnels = personnels;
    }
}

