@page "/Debit/{Index?}"
@using ClientApplication.Pages.Debit
@using ClientApplication.Models

<div class="mid">
    <DebitRefresh Debits="@Debits" Fixtures="@Fixtures" Personnels="@Personnels" SetPersonnels="@SetPersonnels" SetFixtures="@SetFixtures" SetDebits="@SetDebits"/>
    <DebitGrid Debits="Debits" Fixtures="@Fixtures" Personnels="@Personnels" SetDebits="@SetDebits"/>
</div>

@code{

    [Parameter]
    public string Index { get; set; } = "";
    
    public Debits Debits = new Debits{};
    public Fixtures Fixtures = new Fixtures{};
    public Personnels Personnels = new Personnels{};

    protected void SetDebits(Debits deibts){
        Debits = deibts;
    }
    protected void SetFixtures(Fixtures fixtures){
        Fixtures = fixtures;
    }
    protected void SetPersonnels(Personnels personnels){
        Personnels = personnels;
    }
}

