@page "/Fixture/{Index?}"
@using ClientApplication.Pages.Fixture
@using ClientApplication.Models

<div class="mid">
    <FixtureRefresh Personnels="@Personnels" Fixtures="@Fixtures" SetPersonnels="@SetPersonnels" SetFixtures="@SetFixtures"/>
    <FixtureGrid Fixtures="@Fixtures" SetFixtures="@SetFixtures"/>
</div>
@if(Index != "" && Index != null){
    <FixtureDetail Index="@Index" Personnels="@Personnels" Fixtures="@Fixtures" SetPersonnels="@SetPersonnels" ReturnPage="@ReturnPage" ReturnId="@ReturnId" />
}

@code{

    [Parameter]
    public string Index { get; set; } = "";
    
    [Parameter]
    [SupplyParameterFromQuery(Name = "return")]
    public string ReturnPage { get; set; } = "";
    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public string ReturnId { get; set; } = "";
    
    public Fixtures Fixtures = new Fixtures{};
    public Personnels Personnels = new Personnels{};

    protected void SetFixtures(Fixtures fixtures){
        Fixtures = fixtures;
    }
    protected void SetPersonnels(Personnels personnels){
        Personnels = personnels;
    }
}

